{{>navbar}}

<section class="container">
    <div class="row">
      

        <div class="col">
            <h1>{{data.name}}</h1>
            {{#each data.courses}}
            <div class="row">
                <div class="col">
                    <h4>{{this.title}}</h4>
                    <p class="lorem">{{this.content}}</p>
                    <button class="btn btn-danger m-2">delete</button>
                </div>
            </div>
            {{/each}}
            <button class="btn btn-warning m-2">edit</button>
        </div>
        
    </div>
</section>
{{>footer}}
